<div id="<%= post._id %>" class="post">
    <div class="row" style="position:relative; padding-right: 130px">
            <img class="fotoUsuarioPost" src="<%= post.urlImgurUsuario %>">
            <h4><%= post.nomeUsuario %></h4>

        <div style="position:absolute; right: 0;">
            <% if (post.userLikes.includes(usuario._id)){ %>
                <button class="btn-memeIO btn" onclick="avaliarPost('<%= post._id %>','<%= usuario._id %>', this)">
                    <i class="fas fa-laugh-squint fa-lg liked"></i>
                </button>
            <% }else { %>
                    <button class="btn-memeIO btn" onclick="avaliarPost('<%= post._id %>','<%= usuario._id %>', this)">
                        <i class="fas fa-laugh-squint fa-lg"></i>
                    </button>
            <% } %>
            <button class="btn btn-memeIO" data-toggle="modal" data-target="#denunciarPublicação" data-idPost="<%= post._id %>" onclick="associarIdPost(this)">
                <i class="fas fa-flag"></i>
            </button>
            <% if (usuario._id == post.idUsuario || usuario.adm == 1) { %>
            <button class="btn btn-memeIO" onclick="deletarPost('<%= post._id %>')">
                <i class="fas fa-trash-alt"></i>
            </button>
            <% } %>
        </div>
    </div>
    <div class="row">
            <p style="width: 100%;"><%= post.conteudo%></p>
            <img src="<%= post.urlImgur %>">
    </div>

</div>